.tableActions {
    width: 10%;
}

.userForm {
    padding-bottom: 60px;
}

.btn{
    margin-right: 5px;
}

#btnAdd {
    margin-right: 20px;
    margin-bottom: 5px;
}

#modalDiv{
    text-align: left;
    max-width: 700px; 
}
.modal-form{

    padding: 0 10px 15px 10px;
}

.modal-actions{

    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Modal-modal-0-1-3{
    padding: 0 0 10px 0;
    size: 80%;
}

.Modal-modal-0-1-3 > .container {
    padding: 0;
}

.Modal-modal-0-1-3 > .container > h1 {
    background-color: #00C851; 
    color: white;
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

}

.Modal-modal-0-1-3 > form > .container > h1 {
    background-color: #00C851; 
    color: white;
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

}

.Modal-modal-0-1-3 > form > .container {
    padding: 0;
}

.Modal-closeIcon-0-1-4{
    display: none;
}







